
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    margin: 0;
  }
  
  section {
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #4CAF50;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  h3 {
    color: #333;
  }
  
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  ul li {
    background-color: #f1f1f1;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
  }
  
  footer {
    text-align: center;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  
  footer p {
    margin: 0;
  }
  